#header {
    margin: 30px 60px 20px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.navLinks {
    display: flex;
    align-items: center;
}

.navLinks a {
    justify-content: space-around;
    color: #FF6060;
    text-decoration: none;    
    font-size : 1.3rem;
    font-weight: 300;
    margin: 0px 40px;
}

.active {
    text-decoration: underline !important;
}


@media screen and (max-width: 767px) {
    #header {
        margin: 10px 20px 0px 20px;
    }

    .navLinks a {
        text-transform: uppercase;    
        font-size : 0.8rem;
        font-weight: 500;
        margin: 0px 0px 0px 20px;
    }

    .logoHeader {
        width: 170px;
    }
}