.propertyMain {
    color: #FF6060;
    margin: 1% 7% 1% 7%;
}

.galleryDisplay {
    width: 100%;
    height: 415px;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    align-items: center;
    color: white;
}

.currentImgIndex {
    position: relative;
    margin-top: 23rem;
    font-size: 15px;
}

.galleryArrow {
    cursor: pointer;
    padding: 20px;
    height: 15%;
}

.infoSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.propertyTitle {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}

.propertyLocation {
    font-size: 18px;
    font-weight: 200;
    margin: 0;
    margin-top: 5px;
}

.tagElt {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    padding-top: 10px;
}

.tagEltSp {
    list-style: none;
    font-size: 12px;
    color: white;
    background-color: #FF6060;
    border-radius: 8px;
    padding: 0.5em 2.5em;
    margin-right: 10px;
}

.propertyHR {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.hostInfo {
    display: flex;
    align-content: center;
    font-size: 18px;
}

.hostPicture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.hostName {
    margin: 0 10px 0 0;
    text-align: right;
    font-weight: 250;
    font-size: 18px;
}

.star {
    font-size: 1.8em;
}

.propertyDE {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdownDescription, .dropdownEquipments {
    height: 100%;
    width: 48%;
}

.dropdown-description, .dropdown-equipments {
    width: 100%;
    background-color: #F6F6F6;
    font-size: 18px;
    margin: 0;
    border-radius: 5px;
}

.dropdownBanner-description, .dropdownBanner-equipments {
    width: 100%;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #FF6060;
    border-radius: 10px;
}

.dropdownTitle-description, .dropdownTitle-equipments {
    margin: 2%;
    font-weight: 300;
    padding: 0 10px;
}
  
.dropdownContent-description, .dropdownContent-equipments {
    color: #FF6060;
    background-color: #F6F6F6;
    font-size: 18px;
    font-weight: 200;
    padding: 30px 20px 30px;
    margin: 0;
    border-radius: 20px ;
}

@media screen and (max-width: 768px) {
    .propertyMain {
        margin-bottom: 7%;
    }

    .galleryDisplay {
        margin-top: 25px;
        margin-bottom: 0;
        height: 255px;
        border-radius: 10px;
    }

    .galleryArrow {
        height: 8%;
        padding: 8px;
    }

    .propertyTitle {
        font-size: 18px;
    }

    .infoSection {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .propertyTitle {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .propertyLocation {
        font-size: 15px;
    }

    .tagElt {
        padding-top: 5px;
    }
    
    .tagEltSp {
        font-size: 10px;
        padding: 0.5em 2em;
    }

    .propertyHR {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6%;
    }

    .host {
        align-items: center;
    }

    .hostName {
        font-size: 14px;
    }

    .hostPicture {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .star {
        font-size: 0.2em;
    }

    .propertyDE {
        flex-direction: column;
    }

    .dropdownDescription, .dropdownEquipments {
        width: 100%;
        margin-bottom: 20px;
    }

    .dropdown-description, .dropdown-equipments {
        font-size: 14px;
        padding: 0;
    }
    
    .dropdownBanner-description, .dropdownBanner-equipments {
        height: 35px;
        border-radius: 5px;
    }

    .arrowUp, .arrowDown {
        margin: 2%;
        cursor: pointer;
        padding: 10px;
    }

    .dropdownContent-description, .dropdownContent-equipments {
        font-size: 14px;
    }
}